.bloc{
    display: inline-block;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
}
img{
    max-width: 100%;
    height: auto;
}
.lable{
    font-size: 180%;
}
a{
    text-decoration: none;
    color: #f8f9fa;
}
.foo{
    background-color: #212529;
    padding: 20px;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    color: #f8f9fa;
    justify-content: center;
    display: flex;
}
header{
    background-color: #0d6efd;
    margin-top: -27px;
    margin-left: -8px;
    margin-right: -8px;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 250%;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    font-size: 90%;
    margin-right: 7%;
}

nav a:first-child {
    margin-right: auto;
    margin-left: 5%;
}

nav a:not(:first-child) {
    margin-left: 10px;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    justify-content: center;
}
button {
    background-color: #0d6efd;
    color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;    
}