.input-form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background: linear-gradient(to top, rgb(52, 96, 198), rgb(76, 188, 180));;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #cdfaff;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

.input-group input:focus{
    border-color: #007bff;
    outline: none;
}

.input-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.input-form button:hover {
    background: #0056b3;
}