body{
    margin: 0;
    padding: 0;
}

.container{
    margin-left: 20px;
    margin-bottom: 30px;
}

.main-title{
    font-size: 30px;
    color: black;
    font-weight: 700;
}

.main-img{
    width: 200px;
    height: 200px;
}

.main-text{
    font-size: 20px;
}

.container > p{
    color: red;
}